<% if pass.configuration_type == "razorpay" %>
  <div id="3rdpartyapikey"  data-api="<%=ENV['RAZORPAY_SECRET'] ? true : false%>" class= "<%= ENV['USER_NAME'].present? ? '' : 'pass'%> ">
    <span id="3rdpartyapikey11"> <%= ENV['USER_NAME'].present? ? 'n/a' :  pass.api_secret_key %></span>
  </div>
  <% unless ENV['USER_NAME'].present? %>
    <i onclick="copyText()" title="click to copy" class="fa fa-copy"></i><span id="custom-tooltip">copied!</sapn>
  <% end %>
<%elsif pass.configuration_type == "stripe"%>
  <%= pass.api_secret_key%>
<%elsif pass.configuration_type == "525k"%>
  <%= pass.client_secret%>

<% else %>
  <div id="shiprocketapikey" class= "<%='pass' if (pass.ship_rocket_user_password.present?|| pass.updated_at != pass.created_at)%>">
    <%=pass.ship_rocket_user_password%>
    <div>
  <%# <i onclick="copyText()" class="fa fa-copy"></i> %>
<% end %>

